@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&family=Ramaraja&display=swap');

.App {
  text-align: center;
}
  .grid{
    margin-top: 50px;
  }

  .btn {
    display: inline-block;
  }

  ul {
    text-align: center;
  }

#nav {
  font-family: 'Bebas Neue', cursive;;
}
 