.climate {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.climate:hover {
    filter: grayscale(0)
}

h3 {
    position: absolute; 
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 5px 5px 10px black
}

  /* Place text in the middle of the image */